
docker/.env

# 프로젝트
project/.env
project/.env.test
project/.env.local
project/.env.local.php
project/composer.lock
project/symfony.lock
project/templates/index.html
project/templates/bloge/
project/templates/backup/
project/templates/backup.html.twig
project/public/bundles/
project/public/upload/
project/var/
project/vendor/
# P테스트
project/bin/.phpunit/
# 로그 
