# Docker
.env
nginx/logs/

# Symfony
project/.env.local
project/.env.local.php
project/composer.lock
project/symfony.lock
project/public/upload/
project/var/
project/vendor/
project/bin/.phpunit/

# Dummy
.DS_Store