<div>
  <p>포트폴리오 블로그에 오신 것을 환영합니다.</p><br />

  <p>등록을 완료하려면 아래의 링크를 클릭 해 주세요.</p><br />

  <p>* 인증메일은 {{ expiresAt|date('g') }}일 동안 유효합니다.</p><br />

  <p><a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a></p>
</div>