src/Migrations

###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/uploads/
!/public/uplaods/.gitignore
var/
vendor/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
