{% block flashbag %}
<div id="flashbox" style="margin: 5px;">
  {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
          <div class="alert alert-{{ type|default('danger') }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ message | raw }}
          </div>
      {% endfor %}
  {% endfor %}
</div>
{% endblock %}