    <section class="paralax-mf footer-paralax bg-image route">
      <div class="overlay-mf" style="opacity: 0.95"></div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="copyright-box">
                <p class="copyright">&copy; Copyright <strong>{{ 'admin.id'|trans }}</strong>. All Rights Reserved</p>
              </div>
              <div class="site-box">
                <p class="site"><a href="{{'admin.github'|trans}}"><i class="fab fa-github fa-2x"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>