<div id="intro" class="intro route bg-image" style="background-image: url({{ asset('style/img/intro.jpeg') }})">
  <div class="overlay-intro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">{{ 'admin.id'|trans }}</h1>
        <p class="intro-subtitle">
          <span class="text-slider-items">{{ 'front.home.intro'|trans }}</span>
          <strong class="text-slider"></strong>
        </p>
      </div>
    </div>
  </div>
</div>