<div class="form_box">
  <div class="form_box_recaptcha">
    <div class="g-recaptcha" data-sitekey="6LeFy6gUAAAAAEXAe66NVeIl0mcTfGkk7xgqNuVw"></div>
  </div>
  <div class="form_box_btnSet">
    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    <button class="btn btn-danger btn-sm" onclick=back()>Cancel</button>
  </div>
</div>   