<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>블로그<span> 공사중...</span></h1>
    <ul class="actions">
      <li><a href="#" class="button alt">Get Started</a></li>
    </ul>
  </div>
  <div class="img">
    <img src="{{'style/images/banner.jpg'}}"/>
  </div>
</section>