<footer class="footer-bg gray-bg ptb-50 text-left text-center footer-style-2">
  <div class="footer-area">
    <div class="container">
      <div class="footer-info">
        <div class="footer-logo">
          <a href="{{ path('home')}}">Yuu2</a>
        </div>
        <ul class="member-social social-style-3">
            <li><a class="m-facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
            <li><a class="m-twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
            <li><a class="m-g-plus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
            <li><a class="m-linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
            <li><a class="m-drible" href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
        </ul>
        <div class="footer-menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="copyright">
          <p>© 2019<a href="#">All Rights Reserved</p>
        </div>
      </div>	
    </div>
  </div>		
</footer>