<header>
  
  <div>
  <a href="{{ path('home') }}">Yuu2</a>
  </div>
  <div>
    <ul>
      <li><a href="{{ path('about') }}">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">GuestBook</a></li>
    </ul>
  </div>
  
</header>