<header id="header">
  <div class="inner">
    <a href={{ url('home') }} class="logo">My Blog</a>
    <nav id="nav">
      <a href="#skill" >Skill</a>
      <a href={{ url('home') }} >Category</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>