<header id="header">
  <div class="inner">
    <a href={{ url('home') }} class="logo">My Blog</a>
    <nav id="nav">
      <a href="#" >ABOUT</a>
      <a href="#" >SKILL</a>
      <a href="#" >PORTFOLIO</a>
      <a href="#" >GUESTBOOK</a>
      <a href="#" >COMTACT</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>