<div class="style-customizer closed">
            <a class="opener" href="#"><span aria-hidden="true" class="icon-profile-male"></span></a>
                
            <div class="side-about-area">
                <!-- about widget start -->
                <aside class="single-widget">
                    <h4 class="widget-title at-big">About Me</h4>
                    <div class="about-widget-area">
                        <img src="img/team/about.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consecte tur adipis icing elit. Esse nisi accusant ium, eligendi eum</p>
                        <div class="social-widget">
                           <h4 class="widget-title">Connect Me</h4>
                            <ul class="member-social social-style-3">
                                <li><a class="m-facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a class="m-twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a class="m-g-plus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                <li><a class="m-linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                                <li><a class="m-drible" href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                            </ul>
                        </div> 
                    </div>                                 
                </aside>
                <!-- about widget end -->

                <!-- recent post widget start -->
                <aside class="single-widget">
                    <h4 class="widget-title">Latest Posts</h4>
                    <div class="resent-post-widget">
                        <div class="widget-single-post clearfix">
                            <img src="img/blog/widget/2.jpg" alt="">
                            <div class="widget-post-content">
                                <h4><a href="#">Simple post title</a></h4>
                                <p>Lorem ipsum dolor sit amet..</p>
                            </div>
                        </div>
                        <div class="widget-single-post clearfix">
                            <img src="img/blog/widget/1.jpg" alt="">
                            <div class="widget-post-content">
                                <h4><a href="#">Simple post title</a></h4>
                                <p>Lorem ipsum dolor sit amet..</p>
                            </div>
                        </div>
                        <div class="widget-single-post clearfix">
                            <img src="img/blog/widget/3.jpg" alt="">
                            <div class="widget-post-content">
                                <h4><a href="#">Simple post title</a></h4>
                                <p>Lorem ipsum dolor sit amet..</p>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- recent post widget end -->
               
                <!-- instgram widget start -->
                <aside class="single-widget">
                    <h4 class="widget-title">Instgram Photo's </h4>
                    <div class="instgram-feed">
                        <ul>
                            <li>
                                <a href="#"><img src="img/instgram/1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instgram/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instgram/3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instgram/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instgram/3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instgram/1.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- instgram widget End -->
                
            </div>
        </div>