/* 글쓰기 버튼 */
.rightside {
  position: fixed;
  display: inline;
  background: #0078ff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  border-radius: 50%;
  transition: background 0.5s;
  z-index: 11;
}

.rightside i {
  color: #fff;
}

.btn-new {
  right: 15px;
  bottom: 70px;
}

.btn-new i {
  padding: 10px 0 0 4px;
}

.btn-delete {
  right: 15px;
  bottom: 125px;
}

.btn-delete i {
  padding: 10px 0 0 0;
}
