.form-user.signup.card {
  margin: 30px auto;
  min-width: 400px;
  width: 39%;
}

.form-user .card-body {
  text-align: center;
}

.form-user .card-item {
  margin: 20px 0 0 0;
}

.form-user .card-item .d-flex button {
  margin: 5px;
  padding: 0 10px;
}

.form-user .card-item img {
  border-radius: 50%;
  width: auto; height: auto;
  max-height: 200px;
}

.form-user input {
  margin: 5px 0;
}

.form-user.g-recaptcha {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}