{% extends "base.html.twig" %}
{% block main %}
<div class="main_container">
  
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ include('block/button/article/new.btn.twig') }}
  {{ form_end(form) }}

</div>
{% endblock %}