/* Article -------------------------------------- */
.articles {
  display: flex;
  margin: 20px 50px 30px 50px;
}
.articles_nav {
  width: 100%;
  text-align: right;
}
.articles_nav img {
  cursor: pointer;
}
.articles_slide {
  display: none;
  margin: 0 auto;
  width: 800px;
}
.articles img {
  margin-right: 10px;
}
.articles_info {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: left;
  border-bottom: 0.5px dotted #87ceeb;
}
.article_created_at {
  position: absolute;
  bottom: 0;
}

.article_created_at span {
  font-size: 12px;
}