@font-face { font-family: NotoSerif; src: url(../fonts/NotoSerif-Regular.ttf); }
@font-face { font-family: Oswald; src: url(../fonts/Oswald-Regular.ttf); }

* {
  margin: 0; 
  padding: 0;
}
header {
  margin: 5px 0;
  text-align: right;
}
hr {
  border: dashed 0.5px white;
  margin: 20px 20px;
}
/* [0] 전체 컨테이너 */
.container {
  display: flex;

  margin: 0;
  padding: 0;

  text-align: center;
}

/* [1] 사이드바 */
.side-container {
  background: -webkit-linear-gradient(top, rgba(65,202,250,1) 0%,rgba(44,175,227,1) 100%);
  border-radius: 10px;
  
  margin: 0;
  padding: 0;

  max-width: 250px;
  min-width: 250px;

  min-height: 100vh;
  text-align: center;
}
.side-container li {
  list-style: none;
  color: white;
}
.side-container a {
  color: white;
}
.side-container a:hover {
  color: silver;
  text-decoration: none;
}
.side-container .category_box a {
  color: black;
}
.side-container .category_box a:hover {
  color: silver;
  text-decoration: none;
}
.side-container img {
  border-radius: 10px;

  width: 200px;
  height: 200px;

  margin: 20px;
}
.side-container .info {
  font-family: Oswald;

  color: black;
  
  background : white;
  border : 5px solid skyblue;
  border-radius: 10px;

  padding: 20px;
  margin-bottom: 20px;
}
.side-container .categories {
  cursor: pointer;
}
.side-container .categories:hover {
  color: silver;
}
.side-container .category_box {
  background: white;
  border-radius: 10px;
  border : 5px solid skyblue;
  display: none;
  font-family: Oswald;
}
.side-container .category {
  cursor: pointer;
}
.side-container .category_slide {
  display: none;
  margin-bottom: 10px;
}

/* [2] 메인 컨테이너 */
.main_container {
  margin: 0 0 0 10px;
  min-width: 700px;
  max-width: 1000px;
}

