{% extends "default.twig" %}
{% block main %}
  <section id="skill">
    <div class="inner">
      {% for Skill in Skills %}
        <article>
          <div class="content">
            <img src="{{ Skill.img }}">
            <header><h3>{{ Skill.name }}</h3></header>
            <p>{{ Skill.description }}</p>
          </div>
        </article>
      {% endfor %}
  </section>
{% endblock %}