<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <meta name="keywords" content=""> -->
        
    <title></title>
    <link rel="icon" type="image/png" href="{{ asset('style/img/favicon.png') }}" /> 

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    
    {% block stylesheets %}
    {% endblock %}
    
  </head>
  <body>
    <!-- header -->
    {% block header %}
    {{ include('block/include/header.twig') }}
    {% endblock %}

    {% block main %}
    {% endblock %}

    <!-- right side -->  
    {% block rightside %}
    {% endblock %}

    <!-- footer -->  
    {% block footer %}
    {{ include('block/include/footer.twig') }}
    {% endblock %}
  
    {% block javascripts %}
    {% endblock %}
  
  </body>
</html>
