{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href={{ asset('style/css/top.css') }} style="text/css">
{% endblock %}

{% block javascript%} 
{% endblock %}

{% block main %}
  <div class="main_container">
    <img class="view" src="/style/images/home.gif" alt="home">
    <h3><i>Wellcome!</i></h3>
  </div>
{% endblock %}